<h2> Buscador de proyectos </h2>
<form>
  <fieldset>
    <section>
      <label for="IdProy">Id. Proyecto</label>
      <input name="IdProy"
             type="number"
             [(ngModel)]="this.IdProy"
             placeholder="introduzca Id" />

      <input value="Buscar en API"
             type="button"
             (click)="buscaAPIbyId()" />
    </section>

    <section>
      <h3>
        <span *ngIf="this.projectAPI!=undefined && this.projectAPI.name.length>0; else sinDatos">
          Resultado búsqueda: <mark> {{ this.projectAPI.name }} </mark>
        </span>
      </h3>
      <ng-template #sinDatos> <i>sin resultados</i> </ng-template>
    </section>
  </fieldset>

</form>
