<header class="sticky">
  <a routerLink="/"
     class="logo">
    <span class="icon-home"></span> <span>Home-SPA</span>
  </a>
  <a routerLink="projects"
     routerLinkActive="router-link-active"
     class="button">
    <span> old - Proyect w2</span>
  </a>
  <a routerLink="project2"
     routerLinkActive="router-link-active"
     class="button">
    <img width="30"
         style="vertical-align: -0.5em"
         src="./../../../../assets/marip3.jpg" />
    <span> Acc. Proyect sprint W4</span>
  </a>
</header>
